@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Una fuente moderna y legible */
}

#chat-container::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de scroll */
}

#chat-container::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Cambiado para tema oscuro: un gris más claro para el scrollbar */
  border-radius: 4px;
}

#chat-container::-webkit-scrollbar-track {
  background-color: #2d3748; /* Cambiado para tema oscuro: un gris más oscuro para el track */
}

.message-bubble {
  @apply p-3 rounded-lg;
}

.message-bubble.mine {
  @apply bg-blue-700/20 text-blue-300 self-end; /* Burbuja para mis mensajes: azul más oscuro y texto azul claro */
}

.message-bubble.other {
  @apply bg-gray-800 text-gray-200 self-start; /* Burbuja para otros mensajes: gris oscuro y texto gris claro */
}

.username {
  @apply text-sm font-semibold text-blue-300 mr-2 block sm:inline-block sm:mr-0 sm:mb-0 sm:mt-0; /* Nombre de usuario: azul claro, se muestra como bloque en móviles y en línea en pantallas más grandes */
}

.timestamp {
  @apply text-xs text-gray-500 sm:ml-2; /* Marca de tiempo: gris claro, margen izquierdo en pantallas grandes */
}